# Data Wrangling for Montreal Property Price Analysis Project

Load required packages.

In [1]:
import re
import os
import time
import numpy as np
import pandas as pd
import seaborn as sns
from datetime import date
import matplotlib.pyplot as plt

In [2]:
t0 = time.time()

In [3]:
pwd = os.getcwd()
path = pwd + "/Montreal_property_listings.xlsx"
data1 = pd.read_excel(path)
data1.head()

,price,region,address,bedrooms,bathrooms,living area,lot_dimension
0,"$849,000",Mercier / Hochelaga / Maisonneuve,5185-5187 RUE DESMARTEAU,Bedrooms\n 3,Bathrooms + Half baths\n 1,"Lot dimensions\n2,176 ft²",NaN
1,"$420,000",Villeray / St-Michel / Parc-Extension,417-8635 RUE LAJEUNESSE,Bedrooms\n 2,Bathrooms + Half baths\n 1,Living space area (basement exclu.)\n957 ft²,NaN
2,"$810,000",Villeray / St-Michel / Parc-Extension,8517-A-8515-8517 avenue de l'esplanade,Bedrooms\n 8,Bathrooms + Half baths\n 3,"Lot dimensions\n2,850 ft²",NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"$699,000",Pointe-Aux-Trembles / Montréal-Est,11901 Victoria,Bedrooms\n 3,Bathrooms + Half baths\n 1,"Lot dimensions\n3,060 ft²",NaN

Remove the columns named **living area**, **lot_dimension** and **bathrooms**.

In [4]:
data= data1.drop(labels= ['living area', 'lot_dimension', 'bathrooms'], axis = 1)
data.head()

,price,region,address,bedrooms
0,"$849,000",Mercier / Hochelaga / Maisonneuve,5185-5187 RUE DESMARTEAU,Bedrooms\n 3
1,"$420,000",Villeray / St-Michel / Parc-Extension,417-8635 RUE LAJEUNESSE,Bedrooms\n 2
2,"$810,000",Villeray / St-Michel / Parc-Extension,8517-A-8515-8517 avenue de l'esplanade,Bedrooms\n 8
3,NaN,NaN,NaN,NaN
4,"$699,000",Pointe-Aux-Trembles / Montréal-Est,11901 Victoria,Bedrooms\n 3

In [5]:
print('The above dataframe has', data.shape[0], 'rows and', data.shape[1], 'columns.')

The above dataframe has 924 rows and 4 columns.

See the NaN values that we have in the dataframe.

In [6]:
data.isnull().sum()

price       77
region      77
address     82
bedrooms    77
dtype: int64

Drop the NaN values.

In [7]:
data.dropna(subset = ['price', 'address'], inplace= True)

In [8]:
data.isnull().sum()

price       0
region      0
address     0
bedrooms    0
dtype: int64

Now there are no more NaN values in the dataframe.

In [9]:
print('Now the new dataframe has', data.shape[0], 'rows and', data.shape[1], 'columns.')

Now the new dataframe has 842 rows and 4 columns.

Below we remove the $ sign and commas from the **price** column.

In [10]:
price = data['price']
price = price.apply(lambda x : x.replace('$', ''))
price = price.apply(lambda x : x.replace(',', ''))
data['price'] = price
price

0      849000
1      420000
2      810000
4      699000
5      349000
        ...
919    498000
920    598900
921    250000
922    499500
923    499000
Name: price, Length: 842, dtype: object

Reset the index.

In [11]:
data = data.reset_index()
data.drop(columns= ['index'], inplace= True)

Keep only the entries in the **price** column that are digits.

In [12]:
data['price'] = data['price'].str.extract(r'(\d+)')
data.head()

,price,region,address,bedrooms
0,849000,Mercier / Hochelaga / Maisonneuve,5185-5187 RUE DESMARTEAU,Bedrooms\n 3
1,420000,Villeray / St-Michel / Parc-Extension,417-8635 RUE LAJEUNESSE,Bedrooms\n 2
2,810000,Villeray / St-Michel / Parc-Extension,8517-A-8515-8517 avenue de l'esplanade,Bedrooms\n 8
3,699000,Pointe-Aux-Trembles / Montréal-Est,11901 Victoria,Bedrooms\n 3
4,349000,Rosemont / La Petite Patrie,5919 rue Chabot,Bedrooms\n 1

Again reset the index.

In [13]:
data = data.reset_index()
data.drop(columns= ['index'], inplace= True)
print('Now the new dataframe has', data.shape[0], 'rows and', data.shape[1], 'columns.')

Now the new dataframe has 842 rows and 4 columns.

In [14]:
data.dtypes

price       object
region      object
address     object
bedrooms    object
dtype: object

Change data type of the **price** column.

In [15]:
data = data.astype({'price' : 'float'})

In [16]:
data.dtypes

price       float64
region       object
address      object
bedrooms     object
dtype: object

In [17]:
data.head()

,price,region,address,bedrooms
0,849000.0,Mercier / Hochelaga / Maisonneuve,5185-5187 RUE DESMARTEAU,Bedrooms\n 3
1,420000.0,Villeray / St-Michel / Parc-Extension,417-8635 RUE LAJEUNESSE,Bedrooms\n 2
2,810000.0,Villeray / St-Michel / Parc-Extension,8517-A-8515-8517 avenue de l'esplanade,Bedrooms\n 8
3,699000.0,Pointe-Aux-Trembles / Montréal-Est,11901 Victoria,Bedrooms\n 3
4,349000.0,Rosemont / La Petite Patrie,5919 rue Chabot,Bedrooms\n 1

Keep only the digit entries in the **bedrooms** and **bathrooms** column.

In [18]:
data['bedrooms'] = data['bedrooms'].str.extract(r'(\d+)')

In [19]:
print('Now the new dataframe has', data.shape[0], 'rows and', data.shape[1], 'columns.')

Now the new dataframe has 842 rows and 4 columns.

Change datatype of the **bedrooms** and **bathrooms** column.

In [20]:
data = data.astype({'bedrooms' : 'int'})
data.dtypes

price       float64
region       object
address      object
bedrooms      int64
dtype: object

In [21]:
data = data[data['bedrooms'] < 8]
print(max(data.bedrooms))
print(data.shape)

7
(813, 4)

In [22]:
data.dtypes

price       float64
region       object
address      object
bedrooms      int64
dtype: object

In [23]:
print('The final dataframe has', data.shape[0], 'rows and', data.shape[1], 'columns.')

The final dataframe has 813 rows and 4 columns.

In [24]:
data.sort_values(by = 'bedrooms', ascending= False)

,price,region,address,bedrooms
163,987000.0,Rosemont / La Petite Patrie,6560 29e Avenue,7
514,925000.0,Mercier / Hochelaga / Maisonneuve,"9530-9532-9534, rue de Marseille",7
583,1055000.0,Pierrefonds / Roxboro,"11662-11664-11666, rue Pavillon",7
736,2995000.0,Le Plateau-Mont-Royal,4486 rue Drolet,7
178,950000.0,Anjou,"6080-6082-6078, boulevard des Galeries d'Anjou",7
...,...,...,...,...
685,399500.0,Ville-Marie (Centre-Ville et Vieux Mtl),331-1414 rue Chomedey,1
687,348888.0,Ville-Marie (Centre-Ville et Vieux Mtl),557-98 rue Charlotte,1
221,395000.0,Ville-Marie (Centre-Ville et Vieux Mtl),304-1061 rue Saint-Alexandre,1
387,280000.0,Mercier / Hochelaga / Maisonneuve,9201 rue Notre-Dame Est - Unité #311 - Les Cou...,1
662,385000.0,Ville-Marie (Centre-Ville et Vieux Mtl),606-2000 boulevard René-Lévesque Ouest,1

In [25]:
# data.to_excel(excel_writer= pwd + "/clean_Montreal_property_listings.xlsx",
# index = False)

In [26]:
print(date.today())

2022-04-09

In [27]:
print('Total code runtime (in seconds) excluding the time to load packages is', time.time()-t0)

Total code runtime (in seconds) excluding the time to load packages is 0.763718843460083

**Author:**

**Mangaljit Singh**